

<div class="starter-template">
  <div class="my_acount_tabs top_inr">

      <!-- Starting my order Page here -->


    <div class="col-md-12 pad_lft">
      <div class="container">
      
            <div class="col-md-12 order_padbots">
              <div class="my_ordr">
                <span class="mywish_img"><img src="images/measurement.png"></span>
                My Measurement
              </div>
              
                <!--  Sectio1 srarts here  -->
              <div class="row">
                <div class="col-md-6 col-sm-6 col-sm-12 bord_rhts">
                    <div class="col-md-12">
            
                        <div class="col-md-3 col-sm-12 c0l-xs-12">
                            <div class="women_sizes">
                            <img src="images/women_top.png">
                            
                            </div>
                        
                        </div>
                         <div class="col-md-9  col-sm-12 col-xs-12">
                        <div class="women_sizes_detail">
                            <h5>Women’s sizes</h5>
                               <h5 class="top_wear">Top wear</h5>
                            
     <ol class="custom-counter">
   <li><span>Bust Size</span> <input type="text" class="measure_input" placeholder="eg:30 cm"></li>
          <li><span>Waist Size</span><input type="text" class="measure_input" placeholder="eg:30 cm"></li>
          <li><span>Hip Size</span><input type="text" class="measure_input" placeholder="eg:30 cm"></li>
   
   
</ol>
                             </div>
                        
                        </div>
                         
                    
                    </div>
                  
                </div>
                <div class="col-md-6 col-sm-3 col-sm-12 details_pad">
                     <div class="col-md-12">
            
                        <div class="col-md-3 col-sm-12 c0l-xs-12">
                            <div class="women_sizes">
                            <img src="images/women_bot.png">
                            
                            </div>
                        
                        </div>
                         <div class="col-md-9  col-sm-12 c0l-xs-12">
                        <div class="women_sizes_detail">
                            <h5>Women’s sizes</h5>
                               <h5 class="top_wear">bottom wear</h5>
                            
     <ol class="custom-counter">
   <li><span>Pant Waist </span> <input type="text" class="measure_input" placeholder="eg:30 cm"></li>
          <li><span>Hip</span><input type="text" class="measure_input" placeholder="eg:30 cm"></li>
          <li><span>Inseam</span><input type="text" class="measure_input" placeholder="eg:30 cm"></li>
   
   
</ol>
                             </div>
                        
                        </div>
                         
                    
                    </div>
                </div>
               
                </div>
                
                <div class="save_measure_outer">
                <button class="save measure">Save my measurement</button>
                    
                    
                    </div>
                
              </div>
        
          
                <!--  Sectio1 End here  -->

              

              </div>
            </div>
         
      </div>
    </div>
  
           <div class="how_to_measure">
               <div class="container">
                   <div class="col-md-2"></div>
                   <div class="col-md-8"> 
                       <div class="measure_tips">
                       
                       <h5>How to Measure</h5>
                           
                           <div class="measre_sect">
                           <p><b>Bust:</b>Bust taken from underarm to underarm. Measure under your arms at the fuller part of your Bust, keep tape parallel to the shoulder blades.</p>
                           
                           </div>
                           
                           
                            <div class="measre_sect">
                           <p><b>Waist: :</b>Measure around your natural Waistline, Generally 10” from  underarm, keep the tape comfortably loose.</p>
                           
                           </div>
                           
                           
                            <div class="measre_sect">
                           <p><b>Pant Waist:</b>Measurement taken a few inches below your natural waist. The waist band will rest at about1-2” 
below your belly button.</p>
                           
                           </div>
                       </div>
                   </div>
                   <div class="col-md-2"></div>
                   
        
          </div>
          </div> 


  </div>
</div>

     
      <!-- footer_block end -->
      <!-- Modal login -->
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body login_modal">
                  <div class="col-md-12 no_padng">
                     <div class="col-md-6 no_padng">
                        <div class="login_section1">
                           <div class="padng_outer">
                              <img class="log_zyva" src="images/zya_logo_blck.png">
                              <input type="text" class="text_box" placeholder="Email">
                              <input type="text" class="text_box" placeholder="password">
                              <button class="log_but">Login</button>
                              <p class="forgot_pass">Forgot password ?</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 no_padng">
                        <div class="login_section2">
                           <div class="padng_outer">
                              <button type="button" class="close" data-dismiss="modal"> <img src="images/modal_close.png"></button>
                              <div class="new_user">
                                 <p>New User</p>
                                 <h4>register now</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal login end -->
          
          
          
           <!-- popover -->
      
<!-- Modal -->
<div class="modal fade" id="myModal_pop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal</h4>
      </div>
      <div id="calendar" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->!--  popover end -->   
          
          
          
      <!-- Modal register -->
      <div class="modal fade" id="myModal_reg" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body login_modal">
                  <div class="reg_modals">
                     <div class="col-md-12 no_padng">
                        <div class="lft_reg">
                           <div class="col-md-6 no_padng">
                              <div class="padng_outer pad_bot">
                                 <img class="log_zyva" src="images/zya_logo_blck.png">
                                 <input type="text" class="text_box" placeholder="First Name">
                                 <input type="text" class="text_box" placeholder="Telephone">
                                 <input type="text" class="text_box no_margn" placeholder="Password">
                              </div>
                           </div>
                           <div class="col-md-6 no_padng">
                              <div class="padng_outer">
                                 <button type="button" class="close" data-dismiss="modal"> <img src="images/modal_close.png"></button>
                                 <div class="reg_form">
                                    <input type="text" class="text_box" placeholder="Last Name">
                                    <input type="text" class="text_box" placeholder="Email">
                                    <input type="text" class="text_box" placeholder="Confirm Password">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 no_padng">
                              <div class="col-md-6">
                                 <div class="margn_out">
                                    <div class="check_outer">
                                       <div>
                                          <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked>
                                          <label for="checkbox-1" class="checkbox-custom-label"> I Accept the Terms and Conditions </label>
                                       </div>
                                       <div>
                                          <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
                                          <label for="checkbox-2" class="checkbox-custom-label"> Subscribe to Newsletter</label>
                                       </div>
                                    </div>
                                    <div class="check_inner">
                                       <button class="log_but">Sign in</button>
                                       <p class="forgot_pass">Forgot password ?</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="acount">
                                    <p>Already have an Account</p>
                                    <h4>Log In here</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal register end -->
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="js/jquery.js"></script>
      <script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
      <script src="js/bootstrap.js"></script>
      <!-- BackToTop Button -->
      <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;"></a>
      <script src="js/custom.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/owl.carousel.js"></script>
   </body>
</html>
