body {
		    background-image: url(assets/images/bg_image.png);
		}
		.logo {
			text-align: center;		
		}
		.email_container {
			width:60%;
			margin: 0 auto;
		}
		.menu_container {
			margin-top: 20px;
		    width: 100%;
		    border-top: 1px solid #adabab;
		    min-height: 60px;
		    border-bottom: 1px solid #ababab;
		}
		.menu ul {
			width: 100%;
		    padding: 10px !important;
		    margin-top: 3px;
		}
		.menu ul li {
			list-style: none;
			display: inline;
			padding-right: 6%;
		}
		.menu ul li a{
			text-decoration: none;
			color: #777;
			font-family: 'Roboto', sans-serif;
		    font-size: 15px;
		    font-weight: 400;
		}
		.menu ul li:before {
			content: "\2022";
		    color: #ee2979;
		    font-size: 25px;
		    position:relative;
		    top:3px;
		    padding-right: 6%;
		}

		.first_list:before {
			content: "" !important;
		}

		.last_list {
			padding-right:0px !important;
		}
		.email_container h2 {
			color: #c25ba5;
		    font-size: 32px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 400;
		}
		.email_container h4 {
			color: #5b4180;
		    font-size: 22px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 100;
		    font-style: italic;
    		width: 52%;
		}
		.email_container h3 {
			color: #777;
		    font-size: 23px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 600;
    		width: 100%;
		}
		.detail_cabin {
			width:100%;
			float:left;
			background-color: #f1f1f1;
			padding:25px;
		}
		.detail_head1 {
			width: 50% !important;
			float:left;
			text-align: left;
			font-style:normal !important;
			margin: 0px !important;                  
		}
		.detail_head2 {
			width: 50% !important;
			float:left;
			text-align: right;
			font-style:normal !important;
			margin: 0px !important; 
		}
		.det_inner {
			width: 100%;
		    padding: 35px;
		    float: left;
		}
		.first_section {
			width:33.33%;
			float:left;
			border-right:1px solid #838281;
		}
		.second_section {
			width:30%;
			float:left;
		}
		.img_section {
			width:40%;
			float:left;
		}
		.det_section {
			width:60%;
			float:left;
		}
		.img_section img{
			width: 100px;
    		height: 120px;
		}

		.det_section h5 {
			margin-top: 0px;
		    padding-bottom: 6px;
		    margin-bottom: 0px;
		    color: #808080;
		    font-size: 18px;
		    font-weight: 300;
		    font-family: 'Roboto', sans-serif;
		    text-transform: inherit;
		}
		.det_section h6 {
			font-size: 16px;
		    font-weight: 600;
		    color: #5a5a5a;
		    font-family: 'Roboto', sans-serif;
		    text-transform: uppercase;
		    margin-top: 30px;
		    margin-bottom: 10px;
		}

		.qty_section {
			width:35%;
			float:left;
			padding-left:50px;
		}

		.qty_section p {
			font-size: 14px;
		    font-weight: 300;
		    color: #5a5a5a;
		    font-family: 'Roboto', sans-serif;
		    margin-bottom:25px;
		}
		.price_section {
			font-size: 18px;
		    font-weight: 600;
		    color: #5a5a5a;
		    font-family: 'Roboto', sans-serif;
		    text-transform: uppercase;
		    text-align: left;
		    padding-left:50px;
		}

/* -----------------------------------------------------------------------------
 footer
----------------------------------------------------------------------------- */

.banner_fth {
    float: left;
    width: 100%;
    background-color: #eeeff1;
    padding-bottom: 18px;
    /* position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;*/
}
.foot_img_outer {
    width: 100%;
    padding-top: 14px;
    float:left;
}
/*.foot_img img {
    padding-top: 14px;
}*/
.acnt {
    margin-top: 2px;
}
.main {
    /* width: 100%;
    float: left;
    height: 2656px;
    position: relative;*/
}
.contnt:before {
    content: none !important;
}
.foot_b:before {
    content: url(../images/stripss.png);
    position: absolute;
    margin-top: -25px;
    left: 0px;
}
.foot_rht {
    position: relative;
    right: 100px;
}
5119.foot_rht li:before {
    content: url(../images/dot_blck.png);
    position: absolute;
    top: 13px;
    left: -2px;
    font-family: 'Roboto', sans-serif;
}
.foot_rht li:first-child:before {
    content: '';
}
.footer_navs_cards {
    width: 100%;
    float: left;
}
.footer_navs_cards ul {
    padding: 0px;
    float: left;
    list-style: none;
}
.footer_navs_cards ul li {
    float: left;
    padding: 4px;
}
.footer_navs_cards p {
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #696969;
}
.footer_navs {
    width: 100%;
    float: left;
}
.foot_img {
    /*background-image: url(../images/foot_img.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;*/
    width:100%;
    float:left;
    text-align:center;
}
.foot_a {
    width: 100%;
}
.foot_a > p {
    padding-top: 23px;
    color: #7e7d7e;
    font-size: 13px;
    line-height: 23px;
    font-style: italic;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
.foot_b {
    width: 100%;
    float: left;
}
.foot_img > h4 {
    color: #5b4180;
    font-size: 18px;
    font-weight: 600;
}
.ft_link {
    list-style: outside none none;
    padding: 10px;
    float: left;
    width: 100%;
    /*text-align: center;*/
}
.ft_link > li {
    color: #7e7d7e;
    font-size: 15px;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    padding: 3px;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
}
.foot_c > h4 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.keep_link {
    list-style: outside none none;
    padding: 17px 50px 17px 0;
    float: left;
}
.keep_link > li {
    color: #7e7d7e;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    padding: 6px;
    padding-left: 0px;
    width: 100%;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
.clr_chgr {
    color: #4e4e4e;
    float: left;
}
.keep_link a {
    color: #7e7d7e;
    text-decoration: none;
    float: left;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
.mve_top {
    margin-top: 5px;
}
.social_icon {
    width: 100%;
    float: left;
}
.social {
    list-style: none;
    padding: 0px;
}
.social > li {
    display: inline;
    padding: 10px;
}
.box {
    margin-top: 10px !important;
    outline: none;
    border: 2px solid #dc77af;
    color: #dc77af !important;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    font-family: 'Franklin Gothic Book';

}
.box:hover {
    border: 2px solid rgba(0, 160, 80, 0);
    color: #FFF;
}
.box::before,
.box::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
}
.foo::before {
    border-bottom: 2px solid #FFF;
    border-left: 2px solid #FFF;
    -webkit-transform-origin: 0 100%;
}
.foo::after {
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    -webkit-transform-origin: 100% 0%;
}
.box:hover::after,
.box:hover::before {
    -webkit-transform: scale(1);
}
. link {
    line-height: 1em;
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 50px;
    font-family: "Open Sans", "Roboto", Arial, sans-serif;
    text-align: right;
}
.link > a {
    text-decoration: none;
    color: #FF0;
}
.red_mre {
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}
.red_mre:hover {
    border: 2px solid rgba(0, 160, 80, 0);
    color: #FFF;
}
.red_mre::before,
.red_mre::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
}
.foot::before {
    border-bottom: 2px solid #FFF;
    border-left: 2px solid #FFF;
    -webkit-transform-origin: 0 100%;
}
.foot::after {
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    -webkit-transform-origin: 100% 0%;
}
.red_mre:hover::after,
.red_mre:hover::before {
    -webkit-transform: scale(1);
}
. link {
    line-height: 1em;
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 50px;
    font-family: "Open Sans", "Roboto", Arial, sans-serif;
    text-align: right;
}
.link > a {
    text-decoration: none;
    color: #FF0;
}
