/* Large desktop */
@media (min-width: 1200px) {
}

@media (min-width: 1281px) and (max-width: 1367px) {
}

@media (min-width: 1368px) and (max-width: 1500px) {
}

@media (max-width: 480px) {
    .prod_border {
        display: none !important;
    }
    .my_acnt {
        background-image: none !important;
    }

    .nw-acc-new img {
        width: 29px;
    }

    .mn-tog-menu {
        border: none;
    }

    .mn-tog {
        width: 30px;
    }

    .dp-menu-new {
        position: absolute;
        top: 63px;
        border-radius: 0 20px 20px 20px;
        border: none;
        box-shadow: none;
        background: #472b73;
    }

    .navbar-default .mn-tog-menu:focus, .navbar-default .mn-tog-menu:hover {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
    }

    .dp-menu-new:before {
        content: url(../images/ar-mn.png);
        position: relative;
        bottom: 17px;
        left: 10px;
    }

    .dp-menu-new li:before {
        content: url(../images/dot.png);
        position: absolute;
        left: 10px;
    }

    .dp-menu-new li a {
        color: #e4e2e9;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    .act-hm-mn a {
        font-weight: 600 !important;
        color: #fff !important;
    }

    .act-hm-mn a:after {
        content: url(../images/line-mn.png);
        position: absolute;
        top: 15px;
        left: 21px;
    }

    .act-hm-mn {
        position: relative;
    }

    .dp-menu-new > li > a:focus, .dp-menu-new > li > a:hover {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
    }

    .banner {
        margin-top: 60px;
        /*background-image: none;*/
    }

    #scroll {
        width: 31px;
    }

    .bg {
        width: 290px !important;
        /*height: 200px !important;*/
        height: 308px !important;
        margin-top: 0;
        padding-bottom: 35px;
    }

    .text h5 {
        font-size: 13px;
    }

    .text > p {
        font-size: 13px;
        padding-top: 10px;
    }

    .search_icon {
        position: absolute;
        right: 0;
        float: none !important;
    }

    .pd-zero {
        padding: 0;
    }

    .fshion_store {
        padding: 30px 16px 30px;
    }

    .fasion_descript > p {
        font-size: 13px;
    }

    .inner_nav {
        background: #fff;
    }

    /*.prod_image {*/
        /*float: none;*/
    /*}*/

    /*#port li {*/
        /*width: 100%;*/
        /*min-height: 300px;*/
    /*}*/

    /*#port img {*/
        /*height: 275px;*/
        /*width: 200px;*/
    /*}*/

    .full_wdth_wrapper {
        height: 59px;
        margin-top: 42px;
        background-size: cover;
    }

    .inner_tab {
        margin-top: 0 !important;
    }

    .imagezoom-view {
        display: none !important;
    }

    .imagezoom-cursor {
        display: none !important;
    }

    .small-thumbnail img {
        float: left;
        width: 60px !important;
        height: 75px !important;
    }

    .navs_tabs ul {
        padding-bottom: 0;
        padding-left: 23px;
    }

    .tab_out p span {
        padding: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
    }

    .stock {
        top: 100px;
        right: 80px;
    }

    .pd-cust-1 {
        padding: 0 5px 0 0;
    }

    .search_dress {
        width: 320px;
        position: absolute;
        top: 45px;
        left: -74px;
        background: #fff;
    }

    .slide_section {
        margin: 20px 0;
    }

    .nw-mdl-k .login_section2 {
        min-height: initial;
        height: 100px;
    }

    .nw-mdl-k .new_user {
        padding-top: 0;
        padding-left: 0px;
    }

    .reg_form {
        padding-top: 0;
    }

    .pass_height {
        height: 100px;
    }

    .forgot_pass {
        float: none;
    }

    .acount {
        padding-top: 0;
    }

    .margn_out {
        margin: 0 0 10px 0;
        margin-left: 10px;
    }

    .sm-srim {
        position: relative;
    }

    .sm-srim img {
        position: absolute;
        left: 211px;
        top: 50px;
        width: 18px;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    .zyva_logo {
        height: 30px !important;
        width: 29px !important;
        background: url(../images/zyva_short.png);
        background-size: 23px;
        background-repeat: no-repeat;
        margin-top: 4px;
        position: relative;
        top: 5px;
    }

    .mn-tog {
        width: 20px;
    }

    .search_dress {
        width: 264px;
        left: -63px;
    }

    .sm-srim img {
        left: 172px;
        width: 16px;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 769px) {
    .download_android button {
        width: 45%;
    }

    .footer_navs ul li a {
        padding: 8px 0px !important;
    }

    .text h5 {
        font-size: 14px;
    }

    .text h1 {
        font-size: 18px;
    }

    #scroll {
        width: 35px;
    }

    .text {
        top: 30px;
    }

    .logs ul {
        padding-top: 0;
    }

    .zyva_logo {
        position: relative;
        left: 30px;
        top: 3px;
    }

    .shoping_bag_out {
        padding-left: 0;
        padding-right: 0 !important;
    }

    .shoping_bag_out-user {
        position: absolute;
        right: -35px;
        bottom: 0;
    }

    .starter-template {
        padding: 0;
    }

    .bg {
        margin-top: 40px;
    }

    .outer_des {
        margin-top: 0 !important;
    }

    .women_acesseries {
        border: none !important;
    }

    .fshion_stre {
        border: 3px solid #dc77af;
    }

    .pd-zero {
        padding: 0;
    }

    .fshion_store_out {
        padding: 0 0px 20px;
    }

    #port img {
        height: 500px;
        width: 100%;
    }

    .product_outer {
        margin-top: 120px !important;
    }

    .full_img {
        object-fit: contain;
    }
}

@media (min-width: 1650px) and (max-width: 2000px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-brand.inner > img {
        padding: 20px;
    }

    .chge_rht {
        float: none !important;
    }
}