
div.contents{
	display:block !important;
	text-align:left;
}
.outline{
	background-attachment: fixed;
}

.outline .middle{
	width:auto;
	margin:0px auto;
	clear:both;
}
.outline .middle{
	display:block;
	float:none;
	clear:both;
}
.outline .middle:after{
	content: " ";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
}
.outline .middle{
	zoom:1;
}

